@use '../../base';

// viewer
@mixin viewer($maxWidth) {
  .viewer-container {
    z-index: 97;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(51, 51, 51, 0.3);

    width: 100%;
    height: 100%;
    overflow-y: auto;

    .close {
      z-index: 99;
      position: fixed;
      top: 0;
      right: 0;
      width: 60px;
      height: 60px;
      line-height: 60px;
      font-size: 32px;

      @include base.cursor();
    }

    img {
      z-index: 98;
      display: block;
      max-width: $maxWidth;
      margin: 50px auto;
    }
  }
}

.pc {
  $maxWidth: 1200px;

  @include viewer($maxWidth);
}

.mobile {
  $maxWidth: 14rem;

  @include viewer($maxWidth);

  .viewer-container {
    .close {
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      font-size: 32px;
      text-align: center;
    }
  }
}
